@model IList<Web.Models.CartItem>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Shopping Cart</title>

        <script src="~/Scripts/jquery-2.1.3.js"></script>
        <script>
            function removeItem(id) 
            {

                var apiUrl = "/api/cart/remove/";
                //apiUrl = apiUrl.replace("{0}", id);

                $.post(apiUrl,
                {
                 id: JSON.stringify(id)
   
                },
                function (data, status) {
                    alert("Remove completed");
                });

            }

        </script>
    </head>


    <body>
    <div>
        <table style="border: 1px">
            <tr>
                <th>Id</th>
                <th>Material number</th>
                <th>Item price</th>
                <th>Quantity</th>
            </tr>
            @foreach (var item in Model)
            {
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.MaterialNumber</td>
                        <td>@item.Price</td>
                        <td>@item.Quantity</td>
                        <td> <input id="Remove" type="button" value="Remove" onclick="removeItem(@item.Id)" /></td>
                    </tr>
                }
            }
        </table>
    </div>
</body>
</html>
